body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ccc;
  margin: 0;
}
.container {
  margin:20px;
  height: auto;
  width: 650px;
  border-radius: 10px;
  margin-inline: auto;
  background-color: white;
  padding: 20px 0;
}
.option-list {
/*   display: inline;
  flex-direction: column; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


button,
select {
  margin: 10px 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  margin-inline: auto;
  width: 135px;
}
.setting,
.recording {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  margin-inline: auto;
}


ul {
  list-style-type: none;
  /* background-color: red; */
  display: inline;
}

li {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}


